@charset "utf-8";

/* body
------------------------------*/
body {
  font-family:
    "Noto Sans JP",
    "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "BIZ UDPGothic",
    Meiryo,
    sans-serif;
  background-color: #c8e5ff;
}

html {
  scroll-behavior: smooth;
}

header h1 {
  font-size: 28px;
  font-weight: 900;
  background-image: url(../image/logo.png);
  background-repeat: no-repeat;
  background-position: 0 3px;
  background-size: 50px;
  padding-left: 45px;
  color: #0c0079;
}

header h1 a {
  text-decoration: none;
  outline: none;
  border: none;
  color: inherit;
}

header a:hover {
  color: #ffffff;
}

body div.top {
  background-image: url(../image/top.jpg);
  height: 400px;
  background-size: 100%;
  background-position: center;
  background-position-y: -160px;
  background-repeat: no-repeat;
}

.wrapper {
  background-color: #fff;
  width: 1000px;
  margin: 0 auto;
  font-size: 26px;
}

body header nav.menu ul {
  display: flex;
  justify-content: right;
}

li {
  list-style: none;
}

.menu li a {
  display: block;
  color: #0c0079;
  text-decoration: none;
  font-weight: 600;
  padding: 0 20px;
  border-right: 1px solid #0c0079;
  align-items: center;

}

.menu a:hover {
  color: #ff85eb;
}

.menu li:last-child a {
  border-right: 0;
  padding-right: 0;
}


.wrapper section {
  text-align: center;
  margin-top: 30px;
}

h2.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: -40px;
  font-weight: bold;
  font-size: 40px;
}

.photo {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.item {
  text-align: center;
  margin-bottom: 30px;
}

.item img {
  width: 235px;
  height: 150px;
  display: block;
  margin-bottom: 10px;
  margin-top: 70px;
}

.item .text1 {
  font-size: 18px;
  font-weight: bold;
}

.item .text2 {
  font-size: 14px;
  color: #2c2c2c;
}

.text2_br {
  display: block;
  font-size: 14px;
  line-height: 14px;
}

footer {
  margin-top: 70px;
  text-decoration: none;
  outline: none;
  border: none;
  color: inherit;
}

h3.minute {
  text-align: center;
  font-size: 30px;
}

div.time {
  display: flex;
  gap: 40px;
  justify-content: center;
  font-size: 40px;
}

.last_page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 20px;
}

.inc {
  margin-top: 70px;
  margin-left: 230px;
  font-size: 30px;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-right: 200px;
  padding: 50px;
  font-size: 30px;
}

.page_row {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.page a {
  color: #0a022e;
  text-decoration: none;
}

.page a:hover {
  color: #4800ff;
}

.page p:last-child a {
  border-right: 0;
}

footer {
  background-color: #6dffff81;
}

footer div.time p {
  margin: 0;
}

.button {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.button img {
  width: 400px;
  height: 100px;
  transition: filter 0.3s ease;
  flex-wrap: wrap;
  align-items: center;
}

.button img:hover {
  filter: brightness(1.5) saturate(150%) hue-rotate(15deg);
}

.sns {
  display: flex;
  justify-content: flex-end;
  width: 50px;
  min-width: 100%;
  height: 50px;
  gap: 30px;
  margin-bottom: 70px;
}

.sns img {
  width: auto;
  height: 100px;
  display: inline-block;
  margin-right: 20px;
  margin-top: 70px;

  transition: filter 0.3s ease;
  flex-wrap: wrap;
  align-items: center;
}

.sns img:hover {
  filter: brightness(2) saturate(150%) hue-rotate(30deg);
}


footer small {
  display: block;
  text-align: center;
  margin-top: 60px;
}


/* 2ページ目 */

body div.two {
  background-image: url(../image/bout_top.jpg);
  height: 500px;
  background-size: cover;
  background-position: center 25%;
  background-repeat: no-repeat;
  margin-top: 50px;
}

.supprt {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.box {
  text-align: left;
  margin-bottom: 30px;
}

.box img {
  width: 490px;
  height: 320px;
  display: block;
  margin-bottom: 10px;
  margin-top: 70px;
}

.box .text3 {
  font-size: 18px;
  font-weight: bold;
}

.box .text4 {
  font-size: 13px;
  color: #2c2c2c;
}

.text4_br {
  display: block;
  font-size: 13px;
  line-height: 14px;
}

/* 先生紹介 */

.set {
  width: 100%;
  height: auto;
}

body div.staff  {
  background-image: url(../image/staff.png);
  height: 768px;
  background-size: 100%;
  background-position: 100% 0;
  background-repeat: no-repeat;
  margin-top: 50px;
}

/* ご利用の流れ */

body div.step {
  background-image: url(../image/step_5.png);
  height: 1400px;
  background-size: 1000px;
  background-position: center;
  background-repeat: no-repeat;
}

.step {
  margin-top: 10px;
}

/* お問い合わせフォーム */

.info {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  width: calc(100% - 50px);
  margin-left: 20px;
  border: 1px solid rgb(2, 0, 36);
}

table th {
  width: 180px;
  background-color: #505eff;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  border-bottom: 1px solid #fff;
  font-size: 20px;
}

table tr:nth-child(7) th {
  border-bottom: 1px solid #030;
}

table td {
  padding: 10px 20px;
  border: 1px solid #030;
}

table tr:last-child td {
  text-align: center;
}

.local {
  margin-top: 5px;
}

.local ul li {
  display: inline-block;
  margin-left: 30px;
}

.local ul li a {
  color: #fff;
  text-decoration: none;
}

.local ul li a:hover {
  border-bottom: 1px solid #ffffff;
}

input[type="text"] {
  width: 70%;
  font-size: 20px;
  height: 40px;
}

textarea {
  font-size: 20px;
}

input#mail {
  margin-bottom: 10px;
}

td label {
  margin-right: 20px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 2px;
  width: 21px;
  height: 21px;
}

select {
  width: 250px;
  height: 50px;
  font-size: 20px;
  padding: 5px;
}

textarea {
  width: 90%;
  padding: 5px;
  box-sizing: border-box;
  resize: none;
  vertical-align: bottom;
}

input[type="submit"] {
  width: 200px;
  padding: 5px;
}

.mail_wrap {
  display: flex;
  align-items: center;
margin-bottom: 5px;
margin-left: 42px;
}

.mail_wrap input [type="text"] {
width: 90%;
box-sizing: border-box;
}

.caution {
  margin-left: 10px;
  white-space: nowrap;
  color: #ff0000;
  font-size: 20px;
}